body {
	background-color: lightgrey;
	margin-left: 20px;
	margin-right: 20px;
}

img {
	width: 500px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
}

.oglink {
	text-align: center;
}
